<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>DWD Online</h1>
        <h2>Instructor: Shawn Van Every</h2>
        <p>DYNAMIC WEB DEVELOPMENT SPRING 2018</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="feedback-form-title">Feedback</h1>
                <form class="feedback-form" method="GET" action="/formpost">
                    <div class="form-group">
                        <label for="feedback-form-name">Name</label>
                        <input type="text" name="fullname"  class="form-control" id="feedback-form-name" placeholder="Enter your name">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-title">Title</label>
                        <input type="text" name="titletextfield"  class="form-control" id="feedback-form-title" placeholder="Title of your feedback">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-message">Message</label>
                        <textarea type="text" name="textfield"  placeholder="Enter your message, then hit the submit"  class="form-control" id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                </form>
            </div><!-- primary -->
            <aside class="col-sm-8">
                <div class="maincontent feedback">
                    <h2 class="article-title">Recent Feedback</h2>
                    <br>
                    <h4 class="feedback-messages">"Best class Ever"</h4>
                    <br>
                    <h4>"Awesome!"</h4>
                </div>
            </aside><!-- secondary -->
        </div>
    </div><!-- container -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>